@use '../../globals.scss';
.container {
  display: flex;
  align-items: center;
  background-color: globals.$colorBlack;
  padding: 0 30px 0 30px;
  height: 100px;

  @include globals.mobile {
    height: 80px;
  }

  .logoContainer {
    flex: 0.3;
    display: flex;
    justify-content: center;

    @include globals.mobile {
      flex: 1;
      justify-content: flex-start;
    }
  }
  .navContainer {
    flex: 1;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    gap: 14px;

    .contact {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: globals.$fz-xxxs;
      gap: 20px;

      @include globals.mobile {
        display: none;
      }
      .login {
        text-transform: uppercase;
        color: globals.$colorLightBlue;
      }
      .number {
        color: globals.$colorWhite;
      }
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      @include globals.mobile {
        display: none;
      }
      .navItemContainer {
        .navItem {
          color: globals.$colorWhite;
          font-size: globals.$fz-xxs;
          text-transform: uppercase;
          position: relative;
        }

        .subNavContainer {
          opacity: 0;

          background-color: globals.$colorBlueAlt;
          padding: 10px;
          position: absolute;
          margin-top: 10px;
          z-index: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .subNavItem {
            color: globals.$colorWhite;
            font-size: globals.$fz-xxs;
            font-weight: 400;
            text-transform: uppercase;

            &.selected {
              font-weight: 900;
            }
          }
        }

        &:hover {
          .subNavContainer {
            opacity: 1;
          }
          .navItem {
            border-bottom: globals.$colorGreen solid 4px;
            padding-bottom: 7px;
          }
        }
      }

      &.open {
        @include globals.mobile {
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 20;
          background-color: globals.$colorBlack;
          padding: 50px;
          right: 0;
          .subNavContainer {
            opacity: 1;
            position: relative;
          }
        }
      }
    }
    .mobileNav {
      display: none;
      align-items: center;
      justify-content: flex-end;
      color: globals.$colorWhite;
      .hamburger {
        cursor: pointer;
        z-index: 20;
      }

      @include globals.mobile {
        display: flex;
      }
    }
  }
}
