@use '../../globals.scss';
.container {
  display: flex;
  align-items: center;
  background-color: globals.$colorBlack;
  padding: 0 30px 0 30px;
  height: 100px;

  .logoContainer {
    flex: 0.3;
    display: flex;
    justify-content: center;
  }
  .navContainer {
    flex: 1;
    font-weight: 600;
    display: flex;
    flex-direction: column;

    gap: 14px;
    .contact {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: globals.$fz-xxxs;
      gap: 20px;

      .login {
        text-transform: uppercase;
        color: globals.$colorLightBlue;
      }
      .number {
        color: globals.$colorWhite;
      }
    }

    .navigation {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      .navItemContainer {
        .navItem {
          color: globals.$colorWhite;
          font-size: globals.$fz-xxs;
          text-transform: uppercase;
          position: relative;
        }

        .subNavContainer {
          opacity: 0;

          background-color: globals.$colorBlueAlt;
          padding: 10px;
          position: absolute;
          margin-top: 10px;
          z-index: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .subNavItem {
            color: globals.$colorWhite;
            font-size: globals.$fz-xxs;
            font-weight: 400;
            text-transform: uppercase;

            &.selected {
              font-weight: 900;
            }
          }
        }

        &:hover {
          .subNavContainer {
            opacity: 1;
          }
          .navItem {
            border-bottom: globals.$colorGreen solid 4px;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
}
