@import '../../globals.scss';
.container {
  background-color: $colorBlack;
  padding: 100px;
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    .infoItem {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: $fz-xs;

      .title {
        color: $colorGreen;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 700;
      }
      .data {
        color: $colorWhite;
        display: flex;
        flex-direction: column;
        font-weight: 300;

        gap: 5px;
      }
    }
  }
}
