@use '../../globals.scss';
.container {
  background-color: globals.$colorWhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 400px;
  position: relative;
  @include globals.mobile {
    height: 300px;
  }

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .contentContainer {
    position: relative;

    text-align: center;
    color: globals.$colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      text-transform: uppercase;
      font-size: globals.$fz-lg;
      font-weight: 900;
      font-style: italic;
      margin-bottom: 0px;
      span {
        color: globals.$colorGreen;
      }

      @include globals.mobile {
        font-size: globals.$fz-md;
      }
    }
    .subTitle {
      font-weight: 200;
      font-size: globals.$fz-xxs;
      font-style: italic;
    }
  }
}
