@use '../../globals.scss';

.button {
  height: 20px;
  width: fit-content;
  background-color: globals.$colorGreen;
  padding: 10px 0 10px 10px;
  transform: skew(-10deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: globals.$colorWhite;
  position: relative;
  cursor: pointer;
  z-index: 10;

  @include globals.mobile {
    padding: 5px 0 5px 5px;
  }
  .icon {
    padding: 10px;
    height: 20px;

    @include globals.mobile {
      padding: 5px 0 5px 5px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: globals.$colorBlue;
  }
}
