@use '../../../globals.scss';
.wrapper {
  padding: 0px 200px 40px 200px;

  @include globals.mobile {
    padding: 0px 30px 40px 30px;
  }
  .container {
    margin-top: -70px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;

    @include globals.mobile {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    .vehicleContainer {
      background-color: globals.$colorLightGreen;
      padding: 15px;
      .imageContainer {
        margin: -15px;
        border-bottom: none;
        position: relative;
        .image {
          position: relative;
          z-index: 3;
        }
        &::before {
          content: '';
          background-color: white;
          width: 104.5%;
          height: 90px;
          position: absolute;
          z-index: 0;
          top: -10px;
          left: -10px;
        }
      }
      .title {
        font-size: globals.$fz-md;
        font-style: italic;
        margin-top: 25px;
      }
      .detail {
        .detailTitle {
          font-weight: 600;
          margin: 0;
          margin-bottom: 2px;
        }
      }
      hr {
        display: block;
        border: globals.$colorGreen 0.3px solid;
      }
    }
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
}
